// colors
$shadow-light: rgba(0, 0, 0, .07);
$shadow-medium: rgba(0, 0, 0, 0.32);
$shadow-dark: rgba(0, 0, 0, 0.62);
$white: #222222;  // #fff;
$primary: red;// #44bfa3;
$gray: #999;    // Is it used?
$light-gray: #b0b0b0;
$lighter-gray: #d8d8d8;
$text: #d3d3d3; //#55606e;
$transparent: rgba(0, 0, 0, 0);
$button: #d3d3d3;  // Audio player button color
